<tr>
	<td><%= att_sol.description %></td>
	<td class='hidden-xs'>
		<table class='table'>
			<tr>
			</tr>
			<% att_sol.images.each do |image| %>
				<tr>
					<td><%= image_tag image.picture.url(:thumb) %></td>
					<td><%= link_to "Delete Picture", issue_attempted_solution_image_path(@issue, att_sol, image), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure"} if @image_destroy %>
				</tr>
			<% end %>
		</table>
	</td>
	<td>
		<%#= link_to "Add Image", new_attempted_solution_image_path(att_sol), class: "btn btn-default hidden-xs" if @image_create %>
		<% if @admin %>
			<%= link_to "Edit", edit_issue_management_attempted_solution_path(@issue, att_sol), class: "btn btn-default hidden-xs" %>
			<%= link_to "Delete", issue_management_attempted_solution_path(@issue, att_sol), class: "btn btn-default hidden-xs", method: :delete, data: {confirm: "Are you sure?"} %>
		<% else %>
			<%= link_to "Edit", edit_issue_attempted_solution_path(@issue, att_sol), class: "btn btn-default hidden-xs" %>
			<%= link_to "Add Image", new_issue_attempted_solution_image_path(@issue, att_sol), class: "btn btn-default hidden-xs" %>
			<%= link_to "Delete", issue_attempted_solution_path(@issue, att_sol), class: "btn btn-default hidden-xs", method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>
		<div class="btn-group visible-xs">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		    Actions <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><%#= link_to "Add Image", new_attempted_solution_image_path(att_sol) if @image_create %></li>
		    <% if @admin %>
			    <li><%= link_to "Edit", edit_issue_management_attempted_solution_path(@issue, att_sol) %></li>
			    <li class="divider"></li>
			    <li><%= link_to "Delete", issue_management_attempted_solution_path(@issue, att_sol), method: :delete, data: {confirm: "Are you sure?"}  %></li>
		   <% else %>
			   <li><%= link_to "Edit", edit_issue_attempted_solution_path(@issue, att_sol) %></li>
			   <%= link_to "Add Image", new_issue_attempted_solution_image_path(@issue, att_sol), class: "btn btn-default hidden-xs" %>
			    <li class="divider"></li>
			    <li><%= link_to "Delete", issue_attempted_solution_path(@issue, att_sol), method: :delete, data: {confirm: "Are you sure?"}  %></li>
		   <% end %>
		  </ul>
		</div>
	</td>
</tr>