<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><%= link_to "Departments - Areas", admin_dep_areas_static_path %></li>
  <li class='active'>View All</li>
</ol>
<div class='row'>
	<div class='col-sm-12'>
		<h4>Listing all of the areas that belongs to departments</h4>
	</div>
</div>

<div class='row'>
	<div class='col-sm-8'>
		<p>The table below shows the areas that belong to departments. Aside from just showing that information, the user can also remove the area's from the departments</p>
	</div>
	<div class='col-sm-4'>
		<%= link_to "Add another Area to a department", new_department_area_path, class: "btn btn-default spacing" %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th>Department</th>
				<th>Area</th>
				<th>Actions</th>
			</tr>
				<% @depAreas.each do |depArea|  %>
				<tr>
					<td><%= depArea.department.name %></td>
					<td><%= depArea.area.name %></td>
					<td>
						<%= link_to "Destroy", department_area_path(depArea), method: :delete, class: "btn btn-default", data: {confirm: "Are you sure you want to destroy??"} %>
					</td>
				</tr>
				<% end %>
		</table>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @depAreas, renderer: BootstrapPagination::Rails %>
	</div>
</div>