<%if @business.errors.any? %>
	<div id='error_explanation'>
		<h2><%= pluralize(@business.errors.count, "error") %> prohibited this issue from being saved</h2>

		<ul>
			<% @business.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

		<%= form.label :name %>
		<%= form.text_field :name %>

		<%= form.label :location %>
		<%= form.text_field :location %>
		<br>
		
		<%= form.submit "Save" %>