<%= form_for(@processarea) do |f| %>
  <% if @processarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processarea.errors.count, "error") %> prohibited this processarea from being saved:</h2>

      <ul>
      <% @processarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :complaint_id %><br>
    <%= f.text_field :complaint_id %>
  </div>
  <div class="field">
    <%= f.label :process_area_type %><br>
    <%= f.text_field :process_area_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
