<ul>
	<% @issues.each do |issue| %>
		<li>
		<%= issue.name %> |
		<%= link_to "History", history_issue_path(issue)  %>
		<p>
			Publish Options |
			<% if issue.draft? %>
				<%= link_to "Review", draft_to_review_issue_path(issue) %>
			<% elsif issue.review? %>
				<%= link_to "Draft", review_to_draft_issue_path(issue) %>
				<%= link_to "Publish", review_to_publish_issue_path(issue) %>
			<% elsif issue.publish? %>
				<%= link_to "Draft", publish_to_draft_issue_path(issue) %>
				<%= link_to "Review", publish_to_review_issue_path(issue) %>
			<% end %>
		</p>
		</li>
	<% end %>
</ul>