<% content_for :title do %>
	Issue Management
<% end %>

<% content_for :breadcrumb do %>
	<li class='active'>Issue Management</li>
<% end %>

<div class='row'>
	<div class='col-sm-12'><h4>Issue Management</h4></div>
</div>

<div class='row'>
	<div class='col-xs-10 col-sm-8'>
		<p>
		For an administrator keeping track of the issues are an absolutlty must. The ability to create, but also review and edit issues is a must have. From this page you can do exactly this. As an added bonus an issue will hightlight red when it is time for a reivew.
		</p>
	</div>
	<div class='col-xs-2 col-sm-4'>
		<%= link_to "Add an Issue", new_issue_management_path, class: "btn btn-default wrap_button" %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th>Issue Name</th>
				<th>Department</th>
				<th>Area</th>
				<th class='hidden-xs'>Review Date</th>
			</tr>
			<% @issues.each do |issue| %>
				<% if issue.review_date < Time.now %>
					<tr class='danger'>
				<% else %>
					<tr>
				<% end %>
				<td><%= link_to issue.name, issue_management_path(issue) %></td>
				<td><%= issue.department_area.department.name %></td>
				<td><%= issue.department_area.area.name %></td>
				<td class='hidden-xs'><%= issue.review_date %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @issues, renderer: BootstrapPagination::Rails %>
	</div>
</div>