<% content_for :title do %>
	View Issue Management
<% end %>

<% content_for :breadcrumb do %>

<% end %>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Name</label>
	</div>
	<div class='col-sm-9'>
		<p class='form-control-static'><%= @issue.name %></p>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Description</label>
	</div>
	<div class='col-sm-9'>
		<%= @issue.description %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Author</label>
	</div>
	<div class='col-sm-9'>
		<%= @issue.user.name %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Impact Area</label>
	</div>
	<div class='col-sm-9'>
		<% if @impact %>
		<%= @impact.name %>
	<% else %>
		"There is no impact area"
	<% end %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>State</label>
	</div>
	<div class='col-sm-9'>
		<%= @issue.state %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Department</label>
	</div>
	<div class='col-sm-9'>
		<% if @issue.department_area != nil %>
			<%= @issue.department_area.name %>
		<% else %>
			no department/area inserted yet
		<% end %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Views</label>
	</div>
	<div class='col-sm-9'>
	</div>
</div>

<div class='row'>
	<div class='col-sm-3'>
		<label class='control-label'>Review Date</label>
	</div>
	<div class='col-sm-9'>
		<%= format_date @issue.review_date %>
	</div>
</div>

//the rest of the page will have tabbed navigation for solutions, attempyed
<p>
	<Strong>Workaround</Strong>
	<span>Workarouds are used for issues where either their is no solution
	or the solutions dont work </span>
	<% if !@issue.issue_workarounds.empty? %>
		<table class='table table-bordered'>
			<tr>
				<th>Image</th>
				<th>Description</th>
				<th>Record</th>
			</tr>

			<%= display_sub_field(@issue_workarounds, "description", @issue) %>
		</table>
	<% else %>
		<span>No workarounds for the issue</span>
	<% end %>
	



</p>

<p>
	<strong>Solutions</strong>
	<% if !@issue.solutions.empty? %>
		<table class='table table-bordered'>
			<tr>
				<th>Image</th>
				<th>Description</th>
				<th>Record</th>
			</tr>
			<%= display_sub_field(@solutions, "name", @issue) %>
		</table>
	<% else %>
		<span>No solutions added yet!</span>
	<% end %>
</p>

<p>
	<strong>Attempted Solutions</strong>

	<% if !@issue.attempted_solutions.empty? %>
		<table class='table table-bordered'>
			<tr>
				<th>Image</th>
				<th>Description</th>
				<th>Record</th>
			</tr>
			<%= display_sub_field(@attempted_solutions, "name", @issue) %>
		</table>
	<% else %>
		<span>No attempted solutions added yet!</span>
	<% end %>
</p>	

<p>
	
</p>


<br>

<%= link_to "Record Issue", new_issue_record_path(@issue)  %>

<%= link_to "Edit", edit_issue_path(@issue) %>
<%= link_to "Back", issues_path %>