<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li class='active'>User</li>
</ol>

<h3>Users</h3>
<p>Manage the users for the website on this page</p>

<%= link_to "Add User", new_user_path, class: "btn btn-default" %>

<table class='table'>
	<tr>
		<th>Email</th>
		<th>Name</th>
		<th>Actions</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.email %></td>
			<td><%= user.name %></td>
			<td>
				<div class="btn-group">
				 	<%= link_to "Edit", edit_user_path(user), class: "btn btn-default" %>
					<%= link_to "Delete", user_path(user), method: :delete, class: "btn btn-default", data: {confirm: "Are you want to delete the user"} %>
					<%= link_to "Show", user_path(user), class: "btn btn-default" %>
				</div>
			</td>
		</tr>
	<% end %>
</table>