<h1>Edit Page</h1>

<%= form_for @issue, :html => { :multipart => true } do |form| %>
	<%= render partial: form %>
<% end %>

<h3>Images</h3>
<ul>
	<% @images.each do |image| %>
		<li>
			<span><%= image.id %></span>
			<%= image_tag image.picture.url(:thumb) %>
			<i><%= image.caption %></i>|
			<%= link_to "Edit", edit_issue_image_path(@issue, image) %>
			<%= link_to "Delete", issue_image_path(@issue, image), method: :delete, data: {confirm: "Are you sure yo want to delete"} %>
		</li>
	<% end %>
</ul>
<%= link_to 'Add Image', new_issue_image_path(@issue) %><br>

<h3>Workaround</h3>
<ul>
	<%= link_to "Add workaround", new_issue_issue_workaround_path(@issue) %>
	<% @workarounds.each do |workaround| %>
		<li><%= workaround.description %>|
			<%= link_to "Add Image", new_issue_workaround_image_path(workaround) %>
			<%= link_to "Edit", edit_issue_workaround_path(workaround) %>
			<%= link_to "Delete", issue_workaround_path(workaround), method: :delete, data: {confirm: "Are you sure you want to delete"} %>
			<ul>
				<% workaround.images.each do |image| %>
					<p><%= image_tag image.picture.url(:thumb) %>
					<%= link_to "edit", edit_issue_workaround_image_path(workaround, image) %>
					<%= link_to "Delete", issue_workaround_image_path(workaround, image), method: :delete, data: {confirm: "Are you sure yo want to delete"} %>
					</p>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>

<h3>Solutions</h3>
<ul>
	<%= link_to "Add Solution", new_issue_solution_path(@issue) %>
	<% @solutions.each do |solution| %>
		<li><%= solution.name %>|
			<%= link_to "Add Image", new_solution_image_path(solution) %>
			<%= link_to "Edit", edit_solution_path(solution) %>
			<%= link_to "Delete", solution_path(solution), method: :delete, data: {confirm: "Are you sure you want to delete"} %>
			<ul>
			<% solution.images.each do |image| %>
				<%= image_tag image.picture.url(:thumb) %>
				<li><%= link_to "Delete Picture", issue_solution_image_path(@issue, solution, image), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
			<% end %>
			</ul>
		</li>
	<% end %>
</ul>

<h3>Attempted Solutions</h3>
<ul>
	<%= link_to "Add Attempted Solutions", new_issue_attempted_solution_path(@issue) %>
	<% @attempted_solutions.each do |att_sol| %>
		<li><%= att_sol.name %> |
			<%= link_to "Add Image", new_attempted_solution_image_path(att_sol) %>
			<%= link_to "Edit", edit_attempted_solution_path(att_sol) %>
			<%= link_to "Delete", attempted_solution_path(att_sol), method: :delete, data: {confirm: "Are you sure?"} %>
			<ul>
				<% att_sol.images.each do |image| %>

					<%= image_tag image.picture.url(:thumb) %>
					<%= link_to "Delete Picture", issue_attempted_solution_image_path(@issue, att_sol, image), method: :delete, data: {confirm: "Are you sure"} %>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>

<% if @issue.state?(:draft) %>
	<p><%= link_to "Push to Review", draft_to_review_issue_path %></p>
<% elsif @issue.state?(:review) %>
	<p><%= link_to "Review to Draft", review_to_draft_issue_path %></p>
<% else %>
	<p><%= link_to "Publish to Draft", publish_to_draft_issue_path %></p>
<% end %>


<%= link_to 'Show', @issue %>|
<%= link_to 'Back', issues_path %>