<% content_for :title do %>
	Edit Solutions
<% end %>

<% content_for :breadcrumb do %>
	<li><%= link_to "Issue Management", issue_management_index_path %></li>
	<li><%= link_to @issue.id, issue_management_path(@issue) %></li>
	<li class='active'>Edit Solutions</li>
<% end %>

<% content_for :third_level_layout  do %>
	<br>
	<p>Below is the list of all the solutions for this issue</p>
		<% if @admin %>
			<%= link_to "Add Solution", new_issue_management_solution_path(@issue), class: "btn btn-default spacing" if @solution_create %>
		<% else %>
			<%= link_to "Add Solution", new_issue_solution_path(@issue), class: "btn btn-default spacing" if @solution_create %>
		<% end %>
		<table class='table'>
			<tr>
				<th class='col-xs-7 col-sm-4'>Description</th>
				<th class='hidden-xs col-sm-3'>Images</th>
				<th class='col-xs-5 col-sm-5'>Options</th>
			</tr>

			<%= render partial: "issues/collections/edit_solutions_row", collection: @solutions, as: :solution %>
		</table>
<% end %>