<% content_for :third_level_layout do %>
	<br>
  	<%= link_to "Add Attempted Solutions", new_issue_attempted_solution_path(@issue), class: "btn btn-default" %>
		<table class='table'>
			<% @attempted_solutions.each do |att_sol| %>
				<tr>
					<td><%= att_sol.name %></td>
					<td>
						<%= link_to "Add Image", new_attempted_solution_image_path(att_sol), class: "btn btn-default" %>
						<%= link_to "Edit", edit_attempted_solution_path(att_sol), class: "btn btn-default" %>
						<%= link_to "Delete", attempted_solution_path(att_sol), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"} %>
					</td>
					<td>
						<table class='table'>
							<tr>
							</tr>
							<% att_sol.images.each do |image| %>
								<tr>
									<td><%= image_tag image.picture.url(:thumb) %></td>
									<td><%= link_to "Delete Picture", attempted_solution_image_path(att_sol, image), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure"} %>
								</tr>
							<% end %>
						</table>
					</td>
				</tr>
			<% end %>
		</table>
<% end %>