<h1>Edit Page</h1>

<%= form_for @issue, :builder => MyFormBuilder, :html => { :multipart => true, class: "form-horizontal", role: "form"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>
<ul id='tabAreas' class='nav nav-tabs'>
	<li class='active'><a href='#images' data-toggle="tab">Images</a></li>
	<li><a href='#workarounds' data-toggle="tab">Workarounds</a></li>
	<li><a href='#solutions' data-toggle="tab">Soutions</a></li>
	<li><a href='#attemptedSolutions' data-toggle="tab">Attempted Solutions</a></li>
</ul>

<div class="tab-content">

	<div class='tab-pane active' id='images'>
		<div class='row'>
	<div class='col-sm-12'>
		<%= link_to 'Add Image', new_issue_image_path(@issue), class: "btn btn-default" %>
		<table class='table'>
		<tr>
			<th>Image</th>
			<th>Caption</th>
			<th>Actions</th>
		</tr>
		<% @images.each do |image| %>
		<tr>
			<td><%= image_tag image.picture.url(:thumb) %></td>
			<td><%= image.caption %></td>
			<td>
				<div class="btn-group">
				  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				    Actions <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><%= link_to "Edit", edit_issue_image_path(@issue, image) %></li>
				    <li><%= link_to "Delete", issue_image_path(@issue, image), method: :delete, data: {confirm: "Are you sure yo want to delete"} %></li>
				    
				  </ul>
				</div>
			</td>
		</tr>
		<% end %>
		</table>
	</div>
</div>


	</div>

  <div class="tab-pane" id="workarounds">
	<%= link_to "Add workaround", new_issue_issue_workaround_path(@issue), class: "btn btn-default" %>
	<span>Workarouds are used for issues where their is no solution
	or the solution required downtime to fix the problem </span>
	<% if !@issue.issue_workarounds.empty? %>
		<table class='table table-bordered'>
			<tr>
				<th>Workaround Number</th>
				<th>Description</th>
				<th>Actions</th>
				<th>Image</th>
				<th>Caption</th>
				<th>Image Actions</th>
				
			</tr>

			<% @issue.issue_workarounds.each_with_index do |workaround, w_index| %>
				<% if workaround.images.length == 0 %>
				<tr>
						<td><%= w_index + 1 %></td>
						<td><%= workaround.description %></td>
						
						<td >
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><%= link_to "Add Image", new_issue_workaround_image_path(workaround) %></li>
							    <li><%= link_to "Edit", edit_issue_workaround_path(workaround) %></li>
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", issue_workaround_path(workaround), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
							  </ul>
							</div>
						</td>
						<td>No Image Added</td>
						<td>No Image Added</td>
						<td>No Image Added</td>
						</tr>
				<% end %>
				<% workaround.images.each_with_index do |image, index| %>
				<tr>
					<% if index == 0 %>
						<td rowspan="<%= workaround.images.length %>"><%= w_index + 1 %></td>
						<td rowspan="<%= workaround.images.length %>"><%= workaround.description %></td>
						
						<td rowspan="<%= workaround.images.length %>">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><%= link_to "Add Image", new_issue_workaround_image_path(workaround) %></li>
							    <li><%= link_to "Edit", edit_issue_workaround_path(workaround) %></li>
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", issue_workaround_path(workaround), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
							  </ul>
							</div>
						</td>
					<% end %>
				
						
						<td><%= image_tag image.picture.url(:thumb) %></td>
						<td><%= image.caption %></td>
						<td>

							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    
							    <li><%= link_to "Edit", edit_issue_workaround_image_path(workaround, image) %></li>
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", issue_workaround_image_path(workaround, image), method: :delete, data: {confirm: "Are you sure yo want to delete"} %></li>
							  </ul>
							</div>
						</td>
					</tr>
				<% end%>
			<% end %>
		</table>
	<% else %>
		<p>No workarounds for the issue</p>
	<% end %>
  </div>
  	<div class="tab-pane" id="solutions">
  	<%= link_to "Add Solution", new_issue_solution_path(@issue), class: "btn btn-default" %>
  	<span>Solutions are known instructions that can rectify this issue</span>
  	<% if !@solutions.empty? %>
		<table class='table table-bordered'>
			<tr>
				<th>Image</th>
				<th>Description</th>
				<th>Record</th>
				<th>Image</th>
				<th>Caption</th>
				<th>Image Actions</th>
			</tr>

			<% @solutions.each_with_index do |solution, s_index| %>
				<% if solution.images.length == 0 %>
					<tr>
						<td><%= s_index + 1 %></td>
						<td><%= solution.name %></td>
						
						<td >
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    Actions <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><%= link_to "Add Image", new_solution_image_path(solution) %></li>
						    <li><%= link_to "Edit", edit_solution_path(solution) %></li>
						
						    <li class="divider"></li>
						    <li><%= link_to "Delete", solution_path(solution), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
						  </ul>
						</div>
							
						</td>
						<td>No Image Added</td>
						<td>No Image Added</td>
						<td>No Image Added</td>
						</tr>
				<% end %>
				<% solution.images.each_with_index do |image, index| %>
				<tr>
					<% if index == 0 %>
						<td rowspan="<%= solution.images.length %>"><%= s_index + 1 %></td>
						<td rowspan="<%= solution.images.length %>"><%= solution.name %></td>
						
						<td rowspan="<%= solution.images.length %>">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><%= link_to "Add Image", new_solution_image_path(solution) %></li>
							    <li><%= link_to "Edit", edit_solution_path(solution) %></li>
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", solution_path(solution), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
							  </ul>
							</div>
						</td>
					<% end %>
				
						
						<td><%= image_tag image.picture.url(:thumb) %></td>
						<td><%= image.caption %></td>
						<td>
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><%= link_to "Edit", edit_solution_path(solution) %></li>
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", solution_image_path(solution, image), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
							  </ul>
							</div>
						</td>
					</tr>
				<% end%>
			<% end %>




			
		</table>
	<% else %>
		<span>No solutions added yet!</span>
	<% end %>
  </div>

  <div class='tab-pane' id='attemptedSolutions'>
  	<%= link_to "Add Attempted Solutions", new_issue_attempted_solution_path(@issue), class: "btn btn-default" %>
  	<span>Attempted Solutions are solutions that have been tried and tested NOT to work</span>
  	<% if !@attempted_solutions.empty? %>
		<table class='table table-bordered'>
			<tr>
				<th>Attempted Solution</th>
				<th>Description</th>
				<th>Record</th>
				<th>Image</th>
				<th>Caption</th>
				<th>Image Actions</th>
			</tr>
			<% @attempted_solutions.each_with_index do |att_sol, a_index| %>
				<% if att_sol.images.length == 0 %>
					<tr>
						<td><%= a_index + 1 %></td>
						<td><%= att_sol.name %></td>
						
						<td >
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						    Actions <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						    <li><%= link_to "Add Image", new_attempted_solution_image_path(att_sol) %></li>
						    <li><%= link_to "Edit", edit_attempted_solution_path(att_sol) %></li>
						
						    <li class="divider"></li>
						    <li><%= link_to "Delete", attempted_solution_path(att_sol), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
						  </ul>
						</div>
							
						</td>
						<td>No Image Added</td>
						<td>No Image Added</td>
						<td>No Image Added</td>
						</tr>
				<% end %>
				<% att_sol.images.each_with_index do |image, index| %>
				<tr>
					<% if index == 0 %>
						<td rowspan="<%= att_sol.images.length %>"><%= a_index + 1 %></td>
						<td rowspan="<%= att_sol.images.length %>"><%= att_sol.name %></td>
						
						<td rowspan="<%= att_sol.images.length %>">
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><%= link_to "Add Image", new_attempted_solution_image_path(att_sol) %></li>
							    <li><%= link_to "Edit", edit_attempted_solution_path(att_sol) %></li>
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", attempted_solution_path(att_sol), method: :delete, data: {confirm: "Are you sure?"} %></li>
							  </ul>
							</div>
						</td>
					<% end %>
				
						
						<td><%= image_tag image.picture.url(:thumb) %></td>
						<td><%= image.caption %></td>
						<td>
							
						
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							    Actions <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu">
							    <li><%= link_to "Edit", edit_attempted_solution_path(att_sol) %></li>
							    
							
							    <li class="divider"></li>
							    <li><%= link_to "Delete", attempted_solution_image_path(att_sol, image), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
							  </ul>
							</div>

						</td>
					</tr>
				<% end%>
			<% end %>
		</table>
	<% else %>
		<span>No attempted solutions added yet!</span>
	<% end %>
  </div>

</div>








<% if @issue.state?(:draft) %>
	<p><%= link_to "Push to Review", draft_to_review_issue_path, class: "btn btn-default" %></p>
<% elsif @issue.state?(:review) %>
	<%= link_to "View Notes", issue_notes_path(@issue), class: "btn btn-default" %>
	
	<% if @issue.notes.where(checked: false).length == 0 %>
		<p><%= link_to "Review to Draft", review_to_draft_issue_path, class: "btn btn-default" %></p>
	<% else %>
		<%= @issue.notes.where(checked: false).length %> - Notes are Available
		they need to be correctified to be able to submit for review again
	<% end %>
<% else %>
	<p><%= link_to "Publish to Draft", publish_to_draft_issue_path, class: "btn btn-default" %></p>
<% end %>
 
<div class='row'>
	<div class='col-sm-12'>
		<div class="btn-group btn-group-justified">
			<%= link_to "Back", :back, class: "btn btn-default" %>
		  	<%= link_to 'Show', @issue, class: 'btn btn-default'  %>
		  	<%= link_to "History", history_issue_path(@issue), class: "btn btn-default" %>
			<%= link_to "View All Issues", issues_path, class: 'btn btn-default' %>
		</div>
	</div>
</div>
