<h2>History page</h2>

<div class="panel-group" id="accordion">

	<% @versions.each do |version| %>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= version.id %>">
	          <%= format_date_time version.created_at %>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse<%= version.id %>" class="panel-collapse collapse in">
	      <div class="panel-body">
	        <% version.changeset.each do |key, value| %>
					
					<% if key != 'updated_at' && key != 'impact_id' && key != 'department_area_id' && key != 'i_type' %>
						<p><b><%= key %></b> : Changed from <%=  value[0] %> to
						<%= value[1] %>
						</p>
					<% elsif key == 'impact_id' %>
						
						<p><b>Impact</b> :  Changed from 
						<% if !version.previous.nil? %>
							<%= version.previous.impact_name %> now it is called
						 	<%= version.item.impact.name %>
						 <% end %>
						
						
						
						</p>
					<% elsif key == 'department_area_id' %>
						<% if !version.previous.nil? %>
							<p>
								<b>Department / Area</b> : Changed From <%= version.previous.department_area_name %> now is called
							<%= version.item.department_area.name %>
							
							</p>
						<% end %>
					<% elsif key == 'i_type' %>
						<% if !version.previous.nil? %>
							<p>
								<% unless version.previous.changeset[:i_type] %>
									<b>Type</b> : Type was not defined, now it is 
									<%= version.item.i_type %>
								<% else %>
								<b>Type</b> : Changed From <%= version.previous.changeset[:i_type] %> now it is called <%= version.item.i_type %>
								<% end %>
							</p>
						<% end %>
					<% else %>
						<i>Time Changed</i> : <%= format_date_time value[1] %>
					<% end %>

				<% end %>
	      </div>
	    </div>
	  </div>

	  <% end %>
  
</div>