<% if flash[:error] %>
	<p id='error'><%= flash[:error] %></p>

<% end %>

<div class='row'>
	<div class='col-sm-8 col-lg-8'>
		<h1>Published Issues</h1>
	</div>
	<div class='col-sm-4 col-lg-4'>
		<%= link_to "Create New Issue", new_issue_path, remote: true, class: "btn btn-success", role: "button", id: "btn-createNewIssue" %>
		</div>
	</div>

	<div class="row">
		<% @issues.each do |issue| %>
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		    <% if issue.images.length > 0 %>
		      <img src="<%= issue.images[0].picture.url(:thumb) %>" alt="">
		     <% end %>
		      <div class="caption">
		        <h3><%= issue.name %></h3>
		        <p><%= issue.description %></p>

		        <p>
		        	<%= link_to "View", issue_path(issue), {class: "btn btn-primary", role: "button"} %>
		        	<%= link_to "Edit", edit_issue_path(issue), {class: "btn btn-default", role: "button" } %>
					<%= link_to "History", history_issue_path(issue), {class: "btn btn-default", role: "button"} %>
					<%= link_to "Destroy", issue_path(issue), method: :delete, class: "btn btn-default", role: "button", data: {confirm: "Are you sure you want to delete"} %>
		        </p>


		        
		      </div>
		    </div>
		  </div>

	<% end %>
	</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a New Issue</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= will_paginate @issues %>
