
<%= form_for @issue, :builder => MyFormBuilder, :html => { :multipart => true, class: "form-horizontal", role: "form" }, builder: MyFormBuilder do |form| %>
	<h2>Create a New Issue</h2>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>

<div class='row'>
	<div class="btn-group btn-group-justified">
		<%= link_to "Back", :back, class: "btn btn-default" %>
		<% if !@issue.new_record? %>
			<%= link_to "Edit", edit_issue_path(@issue), class: 'btn btn-default' %>
		<% end %>
		<%= link_to "View All Issues", issues_path, class: 'btn btn-default' %>
	</div>
</div>