<% content_for :title do %>
	Search Results
<% end %>

<!%= debug @issues %>

<h3>Search Results</h3>
<% if @issues.count < 1 %>
	<p>No results showed for that terms. Would you like to <%= link_to "Search Again", issue_search_path %>?
	</p>
<% else %>
	<% @issues.each do |issue| %>
		<div class='row'>
			<div class='col-sm-6'>
				<h5><%= link_to issue.name, issue_path(issue.id) %></h5>
				
				
			</div>
			<div class='col-sm-6'>
				<%= issue.created_at %>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-12'>
				<i><%= issue.description %></i>
			</div>
		</div>
	<% end %>
	<br>
	<p>Would you like to <%= link_to "search again", issue_search_path %>?</p>
<% end %>

<%= will_paginate @issues, renderer: BootstrapPagination::Rails %>