<% content_for :title do %>
	Showing <%= @issue.item.name %>
<% end %>

<div class='form-horizontal'>
	<div class='row'>
		<div class='col-sm-4'>
			<ul class="list-group">
			  <li class="list-group-item">
			  	<h4 class='list-group-item-heading'>Name</h4>
			  	<p class='list-group-item-text'><%= @issue.item.name %></p>
			  	<p id='issueId' class='hidden'><%= @issue.id %></p>
			  </li>
			  <li class="list-group-item">
			  	<h4 class='list-group-item-heading'>Description</h4>
			  	<p class='list-group-item-text'><%= @issue.item.description %></p>
			  </li>
			  <li class="list-group-item">
			  	<h4 class='list-group-item-heading'>Department / Area</h4>
			  	<p class='list-group-item-text'><%= @issue.item.department_area.name %></p>
			  </li>
			  <li class="list-group-item">
			  	<h4 class='list-group-item-heading'>Type</h4>
			  	<p class='list-group-item-text'><%= @issue.i_type %></p>
			  </li>
			  <li class="list-group-item">
			  	<h4 class='list-group-item-heading'>Impact Area</h4>
			  	<p class='list-group-item-text'><%= @issue.impact.name if @issue.impact %></p>
			  </li>
			  <li class='list-group-item'>
			  	<h4 class='list-group-item-heading'>Review Date</h4>
			  	<p class='list-group-item-text'><%= format_date @issue.review_date if @issue.review_date %></p>
			  </li>
			</ul>
	</div>
	<div class='col-sm-8'>
		<div id='side_section' class='panel panel-default'>
			<div class='panel-body'>
	    <ul id='navbar' class="nav nav-tabs">
	    		<% if @issue.howTo == 'true' %>
	        	<li class="nav"><a href="#howto" data-toggle="tab">How To</a></li>
	        	<li class="nav"><a href="#video" data-toggle="tab">Video</a></li>
	        	<li class="nav"><a href="#comments" data-toggle="tab">Comments</a></li>
	        <% end %>

	    </ul>
	    <div class="tab-content">
	    <div class="tab-pane fade in" id="howto">
	    <br>
	    <div class='row'>
				<div class='col-sm-6'>
					<h4>How to window</h4>
				</div>
				<div class='col-sm-6'>
					<p id='type' class='hidden'>DetailedStep</p>
					<% if can? :create, DetailedStep %>
						<%= link_to "Add How To", new_issue_detailed_step_path(@issue), class: "btn btn-default", remote: true, authenticity: true %>
					<% end %>
				</div>
				</div>
	    <% if @issue.howTo == 'true' %>
	        <!-- <div class="tab-pane fade in" id="howto"> -->
	     		
				
				<div class='col-sm-12'>
					<ul id='detailed_steps' class="list-group">
					<% @steps.each do |step|  %>
						<li data-ds-id='<%= step.id %>' class='list-group-item'>
							<%= render partial: "detailed_steps/detailed_row", locals: {step: step} %>
						</li>
					<% end %>
					</ul>
				</div>
				
				</div>
				<% end %>
				<div class="tab-pane fade in" id="video">
					<br>
					<% if @issue.avatar.exists? %>
						<%= video_tag @issue.avatar.url(:medium), controls: true, style: "max-width: 100%;" %>
						<%#= form_for @issue do |form| %>
							<%#= form.file_field :avatar, {label: "Video Upload"} %>
						<%# end %>
					<% else %>
						
						There is no video attached to the issue. Edit the issue today to add a video. <%= link_to "Edit", edit_issue_path(@issue), class: "btn btn-default" %>
						
					<% end %>
				</div>
				<div class="tab-pane fade in" id="comments">
					<br>
					<p>Section for the comments added by people</p>
				</div>
				</div>
	    </div>
	</div>

</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalBigImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id='model-name' class="modal-title" id="myModalLabel">Modal title</h4>
        <p id='model-caption'></p>
      </div>
      <div class="modal-body">
        ...
        <img id='large-image' src="" />
      </div>
    </div>
  </div>
</div>



