<% content_for :title do %>
	Showing <%= @issue.name %>
<% end %>

<div class='form-horizontal'>
	<div class='row'>
		<div class='col-sm-6'>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>Name</label>
				<div class='col-sm-10'>
					<p class='form-control-static'><%= @issue.name %></p>
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>Description</label>
				<div class='col-sm-10'>
					<p class='form-control-static'><%= @issue.description %></p>
				</div>
			</div>

			<div class='form-group'>
				<label class='col-sm-2 control-label'>Departments / Area</label>
				<div class='col-sm-10'>
					<p class='form-control-static'><%= @issue.department_area.name %></p>
				</div>
			</div>

			<div class='form-group'>
				<div class='col-sm-12'>
					<button id='showOther' type='button' class='btn btn-primary btn-sm visible-xs'>Show Other Fields</button>

				</div>
			</div>
			
			<div class='form-group hidden-xs show-hidden'>
				<label class='col-sm-2 control-label'>Type</label>
				<div class='col-sm-10'>
					<p class='form-control-static'><%= @issue.i_type %></p>
				</div>
			</div>
			
			<div class='form-group hidden-xs show-hidden'>
				<label class='col-sm-2 control-label'>Area Impacted</label>
				<div class='col-sm-10'>
					<% if @issue.impact %>
						<p class='form-control-static'><%= @issue.impact.name %></p>
					<% else %>
						<p class='form-control-static'>"There is no impact area"</p>
					<% end %>
				</div>
			</div>

			<div class='form-group hidden-xs show-hidden'>
				<label class='col-sm-2 control-label'>Review Date</label>
				<div class='col-sm-10'>
					<p class='form-control-static'><%= format_date @issue.review_date %></p>
				</div>
			</div>

			<div class='form-group hidden-xs show-hidden'>
				<label class='col-sm-2 control-label'>Picture</label>
				<div class='col-sm-10'>
					<%= image_tag @issue.picture.url(:medium) if @issue.picture %>
				</div>
			</div>
		
	</div>
	<div class='col-sm-6'>
		<%# if @issue.howTo == 'true' %>
			<div class='col-sm-6'>
				<h4>How to window</h4>
			</div>
			<div class='col-sm-6'>
				<% if can? :create, DetailedStep %>
					<%= link_to "Add How To", new_issue_detailed_step_path(@issue), class: "btn btn-default" %>
				<% end %>
			</div>
			<div class='col-sm-12'>
			<ul>
			<% @steps.each do |step|  %>
				<li><%= step.number %> | <%= step.description %> | potential image holder | </li>
			<% end %>
			</ul>
			</div>
		</div>
	<%# end %>
		
	

</div>
