<% content_for :title do %>
	Impacts
<% end %>

<% content_for :breadcrumb do %>
	<li><%= link_to "Impacts", impacts_path %></li>
  	<li class="active">View All</li>
<% end %>

<h4>Impacts</h4>

<div class='row'>
	<div class='col-xs-8 col-sm-8'>
		<p>Impacts are the areas of the business that the issues affect. Every business has differenct impacts and descriptions. From this page you can either add, edit, or remove an impact.</p>
	</div>
	<div class='col-xs-4 col-sm-4'>
		<%= link_to "Add Impact", new_impact_path, class: "btn btn-default spacing center_impact_add_button" %>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th class='col-xs-3 col-sm-3'>Name</th>
				<th class='col-xs-9 col-sm-9'>Description</th>
			</tr>
			<% @impacts.each do |impact| %>
				<tr>
					<td><%= impact.name %></td>
					<td>
						<%= impact.description %>
						<div class='row'>
							<div class='col-xs-12'>
								<%= link_to "Edit", edit_impact_path(impact), class: "btn btn-default btn-xs" %>
								<%= link_to "Destroy", impact_path(impact), class: "btn btn-default btn-xs", method: :delete, data: {confirm: "Are you sure you want to delete"} %>
							</div>

						</div>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @impacts, renderer: BootstrapPagination::Rails %>
	</div>
</div>