<%if @issue_workaround.errors.any? %>
	<div id='error_explanation'>
		<h2><%= pluralize(@issue_workaround.errors.count, "error") %> prohibited this issue from being saved</h2>

		<ul>
			<% @issue_workaround.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
<% end %>

<h1><%= form.label :issues %></h1><h3><%= @issue_workaround.issue.name %></h3>
<br>
<%= form.label :Workaround %>
<%= form.text_area :description %>

<%= form.submit "Save Workaround" %>