<p>Showing all machine, links to quality complaints</p>

<%= link_to "240", indiv_show_complaint_path("rocklea", "240"), class: "btn btn-default btn-sm" %>
<%= link_to "250", indiv_show_complaint_path("rocklea", "250"), class: "btn btn-default btn-sm" %>
<%= link_to "170", indiv_show_complaint_path("rocklea", "170"), class: "btn btn-default btn-sm" %>
<%= link_to "190", indiv_show_complaint_path("rocklea", "190"), class: "btn btn-default btn-sm" %>
<%= link_to "180", indiv_show_complaint_path("rocklea", "180"), class: "btn btn-default btn-sm" %>
<%= link_to "260", indiv_show_complaint_path("rocklea", "260"), class: "btn btn-default btn-sm" %>
<%= link_to "200", indiv_show_complaint_path("rocklea", "200"), class: "btn btn-default btn-sm" %>
<%= link_to "230", indiv_show_complaint_path("rocklea", "230"), class: "btn btn-default btn-sm" %>
<%= link_to "160", indiv_show_complaint_path("rocklea", "160"), class: "btn btn-default btn-sm" %>
<%= link_to "150", indiv_show_complaint_path("rocklea", "150"), class: "btn btn-default btn-sm" %>

