<% content_for :title do %>
	Edit Department
<% end %>

<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><%= link_to "Departments - Area's", admin_dep_areas_static_path %></li>
  <li><%= link_to "Departments", departments_path %></li>
  <li><%= @department.name %></li>
  <li class='active'>Edit</li>
</ol>


<h4>Edit department</h4>

<%= form_for @department, builder: MyFormBuilder, html: {class: "form-horizontal"} do |form| %>
	<%= render partial: 'form', locals: {form: form} %>
<% end %>