<% content_for :breadcrumb do %>
	<li class='active'>Departments</li>
<% end %>

<p>
<div class='row'>
	<div class='col-sm-8'>
		<p>Showing the departments in the system, along with a short description and actions that can be performed. Add new departments by pressing the button off to the side.</p>
	</div>
	<div class='col-sm-4'>
		<%= link_to "Add a new Department", new_department_path, class: "btn btn-default spacing" %>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th>Department</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			<% @departments.each do |department| %>
				<tr>
					<td><%= department.name %></td>
					<td><%= department.description %></td>
					<td>
						<div class='btn-group'>
						<%= link_to "Edit", edit_department_path(department), class: "btn btn-default" %>
						<%= link_to "Destroy", department_path(department), method: :delete, class: "btn btn-default", data: {confirm: "Are you sure you want to delete the department"} %>
						</div>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @departments, renderer: BootstrapPagination::Rails %>
	</div>
</div>