<% content_for :title do %>
	New <%= @class %>
<% end %>

<% content_for :breadcrumb do %>
	<li><%= link_to "Issue Management", issue_management_index_path %></li>
	<li><%= link_to @issue.id, issue_management_path(@issue) %></li>
	<li><%= link_to "Edit #{@class}", @url_edit %></li>
	<li class='active'>Add</li>
<% end %>

<%= form_for [@issue, @review],url: {controller: 'review_management', action: :create}, builder: MyFormBuilder, html: {class: 'form-horizontal'} do |form| %>
	<%= render partial: 'review_management/form', locals: {form: form} %>
<% end %>