<h1>Listing qwers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @qwers.each do |qwer| %>
      <tr>
        <td><%= qwer.name %></td>
        <td><%= link_to 'Show', qwer %></td>
        <td><%= link_to 'Edit', edit_qwer_path(qwer) %></td>
        <td><%= link_to 'Destroy', qwer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qwer', new_qwer_path %>
