<%if @area.errors.any? %>
	<div id='error_explanation'>
		<h2><%= pluralize(@area.errors.count, "error") %> prohibited this issue from being saved</h2>

		<ul>
			<% @area.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
		<% end %>
		<%= form.label :name %>
		<%= form.text_field :name %>
		<br>
		<%= form.label :description %>
		<%= form.text_field :description %>
		<br>

		

		<%= form.submit "Save" %>