<% content_for :title do %>
	Areas
<% end %>

<% content_for :breadcrumb do %>
	<li class='active'>Areas</li>
<% end %>

<p>
<div class='row'>
	<div class='col-sm-8'>
		<p>Below the table lists all the area are in the database</p>
	</div>
	<div class='col-sm-4'>
		<%= link_to "Add an area", new_area_path, class: "btn btn-default spacing" %>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th>Area</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
				<% @areas.each do |area| %>
				<tr>
				<td><%= area.name %></td>
				<td><%= area.name %></td>
				<td>
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						    Actions <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" role="menu">
						  	<li><%= link_to "Edit", edit_area_path(area) %></li>
							<li><%= link_to "Destroy", area_path(area), method: :delete, data: {confirm: "Are you sure you want to delete"} %></li>
						    
						  </ul>
						</div>

				</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @areas, renderer: BootstrapPagination::Rails %>
	</div>
</div>