<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><%= link_to "Permissions", admin_permission_static_path %></li>
  <li class='active'>Rights</li>
</ol>

<div class='row'>
	<div class='col-sm-12'>
		<h4>All rights</h4>
	</div>
</div>

<div class='row'>
	<div class='col-sm-8'>
		<p>The table below shows all the rights that is available in the system. If a right is destroy, then the roles that have that right will no longet has access to that part of the system. The button to the right will give you access to new rights if neccessary</p>
	</div>
	<div class='col-sm-4'>
	<%= link_to "Add a Right", new_right_path, class: "btn btn-default" %>
	</div>
</div>
<table class='table'>
	<tr>
		<th>Resource</th>
		<th>Operation</th>
		<th>Action</th>
	</tr>
	<% @rights.each do |right| %>
		<tr>
			<td><%= right.resource %></td>
			<td><%= right.operation %></td>
			<td><%= link_to "Delete", right_path(right), method: :delete, data: {confirm: "Are you sure you want to delete?"}  %></td>
		<tr>
	<% end %>
</table>


<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @rights, renderer: BootstrapPagination::Rails %>
	</div>
</div>