<tr>
	<td><%= workaround.description %></td>
	<td>
		<%= link_to "Add Image", new_issue_workaround_image_path(workaround), class: "btn btn-default" if @image_create %>
		<%= link_to "Edit", edit_issue_management_issue_workaround_path(@issue.id, workaround), class: "btn btn-default" if @workaround_edit %>
		<%= link_to "Delete", issue_management_issue_workaround_path(@issue.id, workaround),class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to delete"} %>
	</td>
	<td>
		<table class='table'>
			<tr>

			</tr>
			<td><%= image_tag workaround.medium.image.picture.url(:thumb) %></td>
			
		</table>
	</td>
</tr>