<tr>
	<td><%= solution.description %></td>
	<td>
		<%= link_to "Add Image", new_solution_image_path(solution), class: "btn btn-default" if @image_create %>
		<%= link_to "Edit", edit_issue_management_solution_path(@issue.id, solution), class: "btn btn-default" if @solution_edit %>
		<%= link_to "Delete", issue_management_solution_path(@issue.id, solution), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to delete"} %>
	</td>
	<td>
		<table class='table'>
			<tr>
			</tr>
			<% solution.images.each do |image| %>
				<tr>
					<td>
						<%= image_tag image.picture.url(:thumb) %>
					</td>
					<td>
						<%= link_to "Edit", edit_solution_image_path(solution, image), class: "btn btn-default" if @image_edit %>
						<%= link_to "Delete", solution_image_path(solution, image), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure you want to delete"} if @image_destroy %>
					</td>
				</tr>
			<% end %>
		</table>
	</td>
</tr>