<h3>Jobs <small><%= @department_area.first.name %></small></h3>

<%= link_to 'Add job', new_jobs_job_path, class: 'btn btn-default' %>
<% if @jobs.length > 0 %>
	<table class='table'>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Options</th>
		</tr>
		<% @jobs.each do |job| %>
			<tr>
				<td><%= link_to job.name, jobs_job_path(job) %></td>
				<td><%= job.description %></td>
				<td>
					<%= link_to "Edit", edit_jobs_job_path(job), class: "btn btn-default" %>
					<%= link_to "Edit Steps", jobs_steps_path(job_id: job.id), class: "btn btn-default" %>
					<%= link_to "Delete job", jobs_job_path(job), method: :delete, class: "btn btn-default", data: {confirm: "are you sure you want destroy the job?"} %>
				</td>
			</tr>
		<% end %>
	</table>
<% else %>
	<div class="alert alert-info">
		There are no jobs for this department / area. Add a job today!
		<%= link_to 'Add job', new_jobs_job_path, class: 'btn btn-default' %>
	</div>
<% end %>