<h4>Showing the job</h4>

<div class='form-horizontal'>
<div class='row'>
	<label class='col-sm-2 control-label'>Name</label>
	<div class='col-sm-10'>
		<p class='form-control-static'>
			<%= @job.name %>
		</p>
	</div>
</div>

<div class='row'>
	<label class='col-sm-2 control-label'>Description</label>
	<div class='col-sm-10'>
		<p class='form-control-static'>
			<%= @job.description %>
		</p>
	</div>
</div>

<div class='row'>
	<label class='col-sm-2 control-label'>Category</label>
	<div class='col-sm-10'>
		<p class='form-control-static'>
			<%= @job.category %>
		</p>
	</div>
</div>

<div class='row'>
	<label class='col-sm-2 control-label'>Department</label>
	<div class='col-sm-10'>
		<p class='form-control-static'>
			<%= @job.department_area.department.name %>
		</p>
	</div>
</div>

<div class='row'>
	<label class='col-sm-2 control-label'>Area</label>
	<div class='col-sm-10'>
		<p class='form-control-static'>
			<%= @job.department_area.area.name %>
		</p>
	</div>
</div>
<div class='row'>
	<label class='col-sm-2 control-label'>Steps</label>

	<div class='col-sm-10'>
		<ul class='list-group'>
		<% @job.steps.order(:step_order).each_with_index do |step, index| %>
			<% unless step.step_order < 1 %>
			<li class='list-group-item'>
			<div class="media">
				<% if step.images.length > 0 %>
				  <a class="pull-left">
				    <img class="media-object" src=<%= step.images[0].picture.url(:thumb) %> alt="...">
				  </a>
				 <% else %>
				 	<a class="pull-left">
				    <%= image_tag "no_image.jpg", class: "media-object" %>
				  
				  </a>
			  	<% end %>
			  <div class="media-body">
			  	<h4><%= step.step_order %></h4>
			  	<%= step.description %>
			  </div>
			</div>

			</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div>
</div>