<% content_for :title do %>
	Roles
<% end %>

<% content_for :breadcrumb do %>
	 <li class='active'>Roles</li>
<% end %>
<p>
<% content_for :extra_information do %>
	<div class='col-sm-8'>
		<p>Roles hold the rights for the users. Below is listed all the roles currently in the system. From there you can show, edit or delete a role as you see fit</p>
	</div>
	<div class='col-sm-4'>
		<%= link_to "Add Role", new_role_path, class: "btn btn-default" %>
	</div>
	
<% end %>
<table class='table'>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Actions</th>
	</tr>
	<% @roles.each do |role| %>
		<tr>
			<td><%= role.name %></td>
			<td>
				<% if role.description %>
					<%= role.description %>
				<% else %>
					No Desciption added yet
				<% end %>
			</td>

			<td>
				<div class='btn-group'>
					<%= link_to "View", role_path(role), class: "btn btn-default" %>
					<%= link_to "Edit", edit_role_path(role), class: "btn btn-default" %>
					<%= link_to "Delete", role_path(role), method: :delete, data: {confirm: "Are you sure you want to delete"}, class: "btn btn-default" %>
					<%= link_to "view users", assignment_role_view_path(role.id), class: "btn btn-default" %>
				</div>
			</td>
		</tr>
	<% end %>
</table>

<%= will_paginate @grants, renderer: BootstrapPagination::Rails %>