<%= content_for :breadcrumb do %>
	<li><%= @role.name %></li>
	<li class='active'>Edit</li>
<% end %>

<ol class='breadcrumb'>
	<li><a href="/admin">Admin</a></li>
	<li><%= link_to "Permissions", admin_permission_static_path %></li>
  	<li><%= link_to "Roles", roles_path %></li>
  	<li class='active'><%= @role.name %></li>
</ol>

<div class='row'>
	<h4>Show Role and Grants</h4>
	<p>The table below shows the permission that the <%= @role.name %> role has got.
	   If the role no longer needs a permission, simply delete the permission.
	</p>
</p>
<div class='row'>

	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th>Resource</th>
				<th>Operation</th>
				<th>Action</th>
			</tr>

		<% @grants.each do |grant| %>
			<tr>
				<td>
					<%= grant.right.resource %>
				</td>
				<td>
					<%= grant.right.operation %>
				</td>
				<td>
					<%= link_to "Delete", grant_path(grant), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
				</td>
			</tr>
		<% end %>

	</table>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @grants, renderer: BootstrapPagination::Rails %>
	</div>
</div>