<% content_for :title do %>
	Show
<% end %>

<%= content_for :breadcrumb do %>
	<li><%= link_to "Roles", roles_path %></li>
  	<li><%= @role.name %></li>
  	<li class='active'>Show</li>
<% end %>

<% content_for :extra_information do %>
	<div class='col-sm-12'>
		<p>The table below shows the permission that the <%= @role.name %> role has got.
	   If the role no longer needs a permission, simply delete the permission.
	</p>
	</div>
<% end %>
<p>
<div class='row'>

	<div class='col-sm-12'>
		<table class='table'>
			<tr>
				<th>Resource</th>
				<th>Operation</th>
				<th>Action</th>
			</tr>

		<% @grants.each do |grant| %>
			<tr>
				<td>
					<%= grant.right.resource %>
				</td>
				<td>
					<%= grant.right.operation %>
				</td>
				<td>
					<%= link_to "Delete", grant_path(grant), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
				</td>
			</tr>
		<% end %>

	</table>
	</div>
</div>
<div class='row'>
	<div class='col-sm-12'>
		<%= will_paginate @grants, renderer: BootstrapPagination::Rails %>
	</div>
</div>