<ol class="breadcrumb">
  <li><a href="/admin">Admin</a></li>
  <li><%= link_to "Permissions", admin_permission_static_path %></li>
  <li class='active'>Apply Right to a Role</li>
</ol>

<h4>Apply Right to a role</h4>


<%= form_for @grant, html: {class: 'form-horizontal'} do |form| %>
	<div class='form-group'>
		<label class='col-sm-2 control-label'>Role</label>

		<div class='col-sm-10'>
			<select class='form-control' name='grant[role_id]'>
				<% @roles.each do |role| %>
					<option value='<%= role.id %>'><%= role.name %></option>
				<% end %>
			</select>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-sm-2 control-label'>Permissions</label>
		<div class='col-sm-10'>
		<table class='table'>
			<tr>
				<th>Resource</th>
				<th>Read</th>
				<th>Create</th>
				<th>Update</th>
				<th>Destroy</th>
			</tr>
			<tr>
				<td>Admin</td>
				<% @rights_admin.each do |right| %>
					<td>
					<input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'>
					</td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_admin) %>
			</tr>
			<tr>
				<td>Issue</td>
				<% @rights_issue.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_issue) %>
			</tr>
			<tr>
				<td>Role</td>
				<% @rights_role.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_role) %>
			</tr>
			<tr>
				<td>Rights</td>
				<% @rights_right.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_right) %>
			</tr>
			<tr>
				<td>Grant</td>
				<% @rights_grant.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_grant) %>

			</tr>
			<tr>
				<td>Assignment</td>
				<% @rights_assignment.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_assignment) %>
			</tr>
			<tr>
				<td>Attempted</td>
				<% @rights_attempted.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_attempted) %>
			</tr>
			<tr>
				<td>Issue workarounds</td>
				<% @rights_workarounds.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_workarounds) %>
			</tr>
			<tr>
				<td>Impacts</td>
				<% @rights_impacts.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_impacts) %>
			</tr>
		
	</table>
	</div>

	<div class='col-sm-offset-2 col-sm-10'>
		<%= form.submit "Add Right to the Role", class: "btn btn-default" %>
	</div>
<% end %>