<% content_for :title do %>
	Assign Right to a Role
<% end %>

<% content_for :subtitle do %>
	Assign Right to a Role
<% end %>

<% content_for :breadcrumb do %>
	<li>Apply Right to a Role</li>
	<li class='active'>Add</li>
<% end %>

<%= form_for @grant, html: {class: 'form-horizontal'} do |form| %>
	<p>
	<div class='form-group'>
		<label class='col-sm-2 control-label'>Role</label>

		<div class='col-sm-10'>
			<select class='form-control' name='grant[role_id]'>
				<% @roles.each do |role| %>
					<option value='<%= role.id %>'><%= role.name %></option>
				<% end %>
			</select>
		</div>
	</div>
	<div class='form-group'>
		<label class='col-sm-2 control-label'>Permissions</label>
		<div class='col-sm-10'>
		<table class='table'>
			<tr>
				<th>Resource</th>
				<th>Read</th>
				<th>Create</th>
				<th>Update</th>
				<th>Destroy</th>
			</tr>
			<tr>
				<td>Admin</td>
				<% @rights_admin.each do |right| %>
					<td>
					<input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'>
					</td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_admin) %>
			</tr>
			<tr>
				<td>Issue</td>
				<% @rights_issue.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_issue) %>
			</tr>
			<tr>
				<td>Role</td>
				<% @rights_role.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_role) %>
			</tr>
			<tr>
				<td>Rights</td>
				<% @rights_right.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_right) %>
			</tr>
			<tr>
				<td>Grant</td>
				<% @rights_grant.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_grant) %>

			</tr>
			<tr>
				<td>Assignment</td>
				<% @rights_assignment.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_assignment) %>
			</tr>
			<tr>
				<td>Attempted Solutions</td>
				<% @rights_attempted.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_attempted) %>
			</tr>
			<tr>
				<td>Issue workarounds</td>
				<% @rights_workarounds.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_workarounds) %>
			</tr>
			<tr>
				<td>Impacts</td>
				<% @rights_impacts.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_impacts) %>
			</tr>
			<tr>
				<td>Images</td>
				<% @rights_images.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_images) %>
			</tr>
			<tr>
				<td>Solutions</td>
				<% @rights_solutions.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_solutions) %>
			</tr>
			<tr>
				<td>Users</td>
				<% @rights_users.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_users) %>
			</tr>
			<tr>
				<td>Areas</td>
				<% @rights_areas.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_areas) %>
			</tr>
			<tr>
				<td>Department</td>
				<% @rights_departments.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_departments) %>
			</tr>
			<tr>
				<td>Department Areas</td>
				<% @rights_department_areas.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_department_areas) %>
			</tr>
			<tr>
				<td>B Issue</td>
				<% @rights_b_issue.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_b_issue) %>
			</tr>
			<tr>
				<td>admin business</td>
				<% @rights_admin_business.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_admin_business) %>
			</tr>
						<tr>
				<td>issue management</td>
				<% @rights_issue_management.each do |right| %>
					<td><input type='checkbox' name='grant[rights][]' value='<%=  right.id %>'></td>
				<% end %>
				<%= raw create_diabled_checkboxes(@rights_issue_management) %>
			</tr>
	</table>
	</div>

	<div class='col-sm-offset-2 col-sm-10'>
		<%= form.submit "Add Right to the Role", class: "btn btn-default" %>
	</div>
<% end %>