<h1>Edit the attemtped solution</h1>

<%= form_for [@issue, @attempted], :html => { class: "form-horizontal", role: "form" } do |form| %>
	<%= render partial: form %>
<% end %>

<div class='row'>
	<div class='col-sm-12'>
		<div class="btn-group btn-group-justified">
			<%= link_to "Back", :back, class: "btn btn-default" %>
		  	<%= link_to 'Show', issue_path(@attempted.issue), class: 'btn btn-default'  %>
		  	<%= link_to "Edit the Issue", edit_issue_path(@attempted.issue), class: "btn btn-default" %>
		</div>
	</div>
</div>