<% content_for :breadcrumb do %>
	<li><%= link_to "Issue Management", issue_management_index_path %></li>
	<li><%= link_to @issue.id, issue_management_path(@issue) %></li>
	<li><%= @class %></li>
	<li class='active'>Edit</li>
<% end %>

<h3>Edit <%= @class %></h3>
<%= form_for [@issue, @review], url: @url_edit, builder: MyFormBuilder, html: {
		class: "form-horizontal"} do |form| %>
	<%= render partial: 'reviews/form', locals: {form: form} %>
<% end %>