<h1>All solutions for the issue</h1>

<% @solutions.each do |solution| %>
	<p>Solutions
		<ul>
			<li>
				Name : <%= solution.name %><br>
				Content : <%= solution.content %>	
			</li>
		</ul>
		<div>
			<span>Options</span>
			<ul>
				<li><%= link_to "Edit", edit_issue_solution_path(@issue, solution) %></li>
				<li><%= link_to "Delete", issue_solution_path(@issue, solution), method: :delete, data: {confirm: "Would you like to delete tis solution for the issue?"} %></li>
				<li>Clone</li>
			<ul>
		</div>
	</p>
<% end %>

<%= link_to "New Solution", new_issue_solution_path(@issue) %>
<%= link_to "All Issues", issues_path %>