<h3><%= @issue.name %> steps</h3>
<h5><%= @issue.description %></h5>

<table class='table'>
  <thead>
    <tr>
      <th>Number</th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @detailed_steps.each do |detailed_step| %>
      <tr>
        <td><%= detailed_step.number %></td>
        <td><%= detailed_step.description %></td>
        <td>
          <% if detailed_step.image_file_name != nil %>
            <%= image_tag detailed_step.image.url(:thumb) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', issue_detailed_step_path(@issue, detailed_step) %></td>
        <td><%= link_to 'Edit', edit_issue_detailed_step_path(@issue, detailed_step) %></td>
        <td><%= link_to 'Destroy', issue_detailed_step_path(@issue, detailed_step), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detailed step', new_issue_detailed_step_path(@issue), class: "btn btn-default" %>
