<%= render template: "issues/show" %>
<div class='row'>
	<div class='col-sm-12'>
	<ul class="nav nav-tabs visible-xs">
	  <li <%= @active_workarounds == true ? "class=active" : "" %>><%= workaround %></li>
		  <li role="presentation" class="dropdown">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      More <span class="caret"></span>
		    </a>
		    <ul class="dropdown-menu" role="menu">
		      <li <%= @active_solutions == true ? "class=active" : "" %>><%= solutions %></li>
			  <li <%= @active_att_sol == true ? "class=active" : "" %>><%= att_sol %></li>
			  <li <%= @active_images == true ? "class=active" : "" %>><%= images %></li>
		    </ul>
		  </li>
		</ul>
		<ul class="nav nav-tabs hidden-xs" role="tablist">
			  <li <%= @active_workarounds == true ? "class=active" : "" %>><%= workaround %></li>
			  <li <%= @active_solutions == true ? "class=active" : "" %>><%= solutions %></li>
			  <li <%= @active_att_sol == true ? "class=active" : "" %>><%= att_sol %></li>
			  <li <%= @active_images == true ? "class=active" : "" %>><%= images %></li>
		</ul>
		<div class='container-fluid'>
			<div class='row'>
				<%= yield %>
			</div>
		</div>
	</div>
</div>