<% content_for :second_level_layout do %>
	<div class='container-fluid'>
		<div class='col-sm-3'>
			<ul class='list-group'>
				<li class='list-group-item'>
					<%= link_to "Users", admin_user_static_path %>
				</li>
				<li class='list-group-item'>
					<%= link_to "Permissions", roles_path %>
				</li>
				<li class='list-group-item'>
					<%= link_to "Impacts", impacts_path %>
				</li>
				<li class='list-group-item'>
					<%= link_to "Department / Areas", departments_path %>
				</li>
				<li class='list-group-item'>
					<%= link_to "Issue Management", issue_management_index_path %>
				</li>
				<li class='list-group-item'>
					<%= link_to "Business Information", business_edit_path %>
				</li>
			</ul>
		</div>

		<div class='col-sm-9'>
			<ol class="breadcrumb">
			  <li><a href="/admin">Admin</a></li>
			  
			  <%= yield :breadcrumb %>
			</ol>
			<% if flash[:admin_notice] %>
				<p class='alert alert-success'>
					<%= flash[:admin_notice] %>
				</p>
			<% end %>
			<% if flash[:admin_alert] %>
				<p class='alert alert-danger'>
					<%= flash[:admin_alert] %>
				</p>
			<% end %>
			<div><%= yield :admin %></div>
			<%= content_for?(:third_level_layout) ? yield(:third_level_layout) : yield %>
		</div>
	</div>
<% end %>

<%= render :template => 'layouts/application' %>
