<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, intial-scale=1'>

  <title><%= yield :title %> - Better Management</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	<nav class="navbar navbar-default navbar-static-top">
	  <div class="navbar-header">
	  	<%= link_to "Better Management", home_path, class: "navbar-brand" %>BETA
	  </div>
	</nav>
		<div class='container-fluid'>
			<%= yield %>
		</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container">
		    <div class='row'>
			    <div class='col-md-4'>
			    	<%= link_to "About", static_about_path %>
			    </div>
			    <div class='col-md-4'>
			    	<%= link_to "Why", static_why_path %>
			    </div>
			    <div class='col-md-4'>
			    	
			    </div>
		    </div>
		  </div>
		</nav>
	</body>
</html>
