<% content_for :third_level_layout do %>

<h4>Department / Areas</h4>

<p>Edit, modify, create the department and the areas from this page</p>

<ul class="nav nav-tabs" role="tablist">
	  <li <%= @active_departments == true ? "class=active" : "" %>><%= link_to "Departments", departments_path %></li>
	  <li <%= @active_areas == true ? "class=active" : "" %>><%= link_to "Areas", areas_path %></li>
	  <li <%= @active_dp == true ? "class=active" : "" %>><%= link_to "Department Areas", department_areas_path %></li>
</ul>

	<div class='container-fluid'>
		<div class='row'>
			<%= yield %>
		</div>
	</div>
<% end %>

<%= render :template => 'layouts/admin_layout' %>