

<% content_for :third_level_layout do %>

	<div class='row'>
		<div class='col-sm-12'>
			<h4>Permissions - <%= yield :subtitle %></h4>
		</div>
	</div>

	<div class='row'>
		<%= yield :extra_information %>
	</div>

	<ul class="nav nav-tabs visible-xs">
  <li <%= @active_roles == true ? "class=active" : "" %>><%= link_to "Roles", roles_path %></li>
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
	      More <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	      <li <%= @active_rights == true ? "class=active" : "" %>><%= link_to "Rights", rights_path %></li>
		  <li <%= @active_assignments == true ? "class=active" : "" %>><%= link_to "Assign Role to user", new_assignment_path %></li>
		  <li <%= @active_grants == true ? "class=active" : "" %>><%= link_to "Assign Right to Role", new_grant_path %></li>
	    </ul>
	  </li>
	</ul>

	<ul class="nav nav-tabs hidden-xs" role="tablist">
		  <li <%= @active_roles == true ? "class=active" : "" %>><%= link_to "Roles", roles_path %></li>
		  <li <%= @active_rights == true ? "class=active" : "" %>><%= link_to "Rights", rights_path %></li>
		  <li <%= @active_assignments == true ? "class=active" : "" %>><%= link_to "Assign Role to user", new_assignment_path %></li>
		  <li <%= @active_grants == true ? "class=active" : "" %>><%= link_to "Assign Right to Role", new_grant_path %></li>
	</ul>
	<div class='container-fluid'>
		<div class='row'>
			<%= yield %>
		</div>
	</div>
<% end %>

<%= render :template => 'layouts/admin_layout' %>