<% content_for :title do %>
	View Issue Management
<% end %>


<% content_for :breadcrumb do %>
	<li><%= link_to "Issue Management", issue_management_index_path %></li>
	<li><%= link_to @issue.id, issue_management_path(@issue.id) %></li>
	<li class='active'><%= link_to "View", issue_management_view_path(@issue.id) %></li>
<% end %>


<% content_for :third_level_layout do %>
	<div class='container-fluid'>
		<div class='row'>
			<%= render partial: "layouts/show_issue", locals: {workaround: link_to("Workarounds",show_workarounds_issue_management_path(@issue)), solutions: link_to("Solutions", show_solutions_issue_management_path(@issue)), att_sol: link_to("Attempted Solutions", show_att_sol_issue_management_path(@issue))} %>
		</div>
	</div>
<% end %>



<%= render :template => 'layouts/admin_layout' %>